# Build output
build/

# Original unpacked files
all/

# Large image files
*.img
firmware*
*.swp

# Tools (use compressed versions in gz/)
afptool
rkImageMaker

# boot.bin (use compressed version in gz/)
boot.bin

# OS files
.DS_Store
Thumbs.db
